@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: rgb(242, 240, 240);
    display: flex;
    flex-direction: column;

}

.top-section {
display: flex;
}

.left-side {
display: flex;
}

.right-side{

}
.logo-pic{
    width: 15rem;
    height: 15rem ;
}

.app-icon{
width: 1.5rem;
height: 1.5rem;
}

.pfp{
width: 3 rem;
height: 1 rem;
}

.search-icon{
width: 1rem;
height: 1rem;
}

.mic, .camera{
width: 1.5rem;
height: 1.5rem;
}